.image-selector__container {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.image-selector__item {
  max-height: 100px;
  margin: 10px;
  width: 200px;
}

.image-selector__item img {
  height: 100px;
  width: auto;
  max-width: 200px;
}

